<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<log4net>
		<root>
			<level value="ALL" />
			<appender-ref ref="SigmaConsoleAppender" />
			<appender-ref ref="SigmaRollingFileAppender" />
		</root>
		<appender name="SigmaConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %level %logger - %message%newline" />
			</layout>
		</appender>
		<appender name="SigmaRollingFileAppender">
			<file value="sigma.log" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %level [%thread] %logger - %message%newline" />
			</layout>
		</appender>
	</log4net>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="Dependencies" />
			<dependentAssembly>
				<assemblyIdentity name="ManagedCuda" publicKeyToken="242d898828717aa0" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.22.0" newVersion="8.0.22.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="CudaBlas" publicKeyToken="539d54d12e99fedb" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.22.0" newVersion="8.0.22.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.4.1.0" newVersion="4.4.1.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>